.index-container {
    width: 629px;
    height: 472px;
    background-image: url('/images/MMSE.jpg');
}

.index-container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.index-form {
    vertical-align: middle;
}

.index-form button {
    margin: 10px;
}