.login {
    text-align: center;
}

.login:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.login-container {
    display: inline-block;
    width: 629px;
    height: 472px;
    text-align: center;
    background-image: url('/minimental/frontend/media/MMSE.jpg');
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
}

.login-form {
    display: inline-block;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}

.login label {
    display: inline-block;
    width: 75px;
}

.login label:after {
    content: ':';
}
